.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-direction: column;
    gap: 10;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    /* margin: 9rem 0rem; */

}


div>h3 {

    color: tomato;
    font-size: xx-large;
    font-weight: 800;
    font-family: Satisfy;
}