@import url('https://fonts.googleapis.com/css2?family=Lato&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');


body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: Lato, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  all: unset;
}

button {
  all: unset;
}

form>input,
input,
textarea,
select {
  font-size: x-large;
  width: 50%;
  padding: 15px;
  border: solid 2px #CCC;
  border-radius: 10px;
  resize: none;
  font-family: Satisfy;
}